<%- include('./partials/header') %>
<%- include('./partials/nav') %>
          <div class="col-sm-6">
            <h1 class="m-0"><%= typeof title !== 'undefined' ? title : (typeof t !== 'undefined' ? t('errors.404') : 'Error 404') %></h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <p class="mb-2"><%= typeof t !== 'undefined' ? t('errors.404') : 'Page not found' %></p>
              <a href="/" class="btn btn-primary"><%= typeof t !== 'undefined' ? t('errors.goHome') : 'Go to Dashboard' %></a>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('./partials/footer') %>
