<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1><%= typeof t !== 'undefined' ? t('itemDetail.title') : 'Item Detail' %></h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
              <h2><%= brg.namabarang %></h2>
              <img src="/uploads/<%= brg.image %>" class="img-detail">
              <img src="/uploads/<%= brg.kodebarang %>.png" class="img-detail">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"><%= typeof t !== 'undefined' ? t('itemDetail.code') : 'Code' %></div>
              <div class="col-md-9">: <%= brg.kodebarang %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= typeof t !== 'undefined' ? t('itemDetail.description') : 'Description' %></div>
              <div class="col-md-9">: <%= brg.deskripsi %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= typeof t !== 'undefined' ? t('itemDetail.stock') : 'Stock' %></div>
              <div class="col-md-9">: <%= brg.stock %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= typeof t !== 'undefined' ? t('itemDetail.inputBy') : 'Entered by' %></div>
              <div class="col-md-9">: <%= brg.penginput %></div>
            </div>

            <br><br><br>

            <h3><%= typeof t !== 'undefined' ? t('itemDetail.stockIn') : 'Stock In' %></h3>
            <table id="detailbarangmasuk" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th><%= typeof t !== 'undefined' ? t('stockIn.dateTime') : 'Date & Time' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockIn.code') : 'Code' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockIn.name') : 'Name' %></th>
                  <th><%= typeof t !== 'undefined' ? t('common.quantity') : 'Quantity' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockIn.note') : 'Note' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockIn.inputBy') : 'Entered by' %></th>
                </tr>
              </thead>
              <tbody>
                <% brgm.forEach((element, index)=> { %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= moment(element.tanggal).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                  <td><%= element.kodebarang_m %></td>
                  <td><%= element.namabarang_m %></td>
                  <td><%= element.qty %></td>
                  <td><%= element.keterangan %></td>
                  <td><%= element.penginput %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>

            <br><br>

            <h3><%= typeof t !== 'undefined' ? t('itemDetail.stockOut') : 'Stock Out' %></h3>
            <table id="detailbarangkeluar" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th><%= typeof t !== 'undefined' ? t('stockOut.dateTime') : 'Date & Time' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockOut.code') : 'Code' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockOut.name') : 'Name' %></th>
                  <th><%= typeof t !== 'undefined' ? t('common.quantity') : 'Quantity' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockOut.recipient') : 'Recipient' %></th>
                  <th><%= typeof t !== 'undefined' ? t('stockOut.inputBy') : 'Entered by' %></th>
                </tr>
              </thead>
              <tbody>
                <% brgk.forEach((element, index)=> { %>
                <tr>
                  <td><%= index+1%></td>
                  <td><%= moment(element.tanggal).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                  <td><%= element.kodebarang_k %></td>
                  <td><%= element.namabarang_k %></td>
                  <td><%= element.qty %></td>
                  <td><%= element.penerima %></td>
                  <td><%= element.penginput %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
<%- include('./partials/footer') %> 