<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1><%= typeof t !== 'undefined' ? t('departments.title') : 'Departments' %></h1>
          </div>
          <div class="col-sm-6">
            <div id="bt" class="float-sm-right">
              <% if(typeof locals.user != 'undefined') { %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
                <i class="fas fa-plus"></i>
                <%= typeof t !== 'undefined' ? t('departments.add') : 'Add Department' %>
              </button>
              <% } %>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %> 
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= error.msg %> 
            </div>
            <% }) %> 
            <% } %> 
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><%= typeof t !== 'undefined' ? t('departments.tableTitle') : 'Departments' %></h3>
              </div>
              <div class="card-body">
                <table id="departmentsTable" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th><%= typeof t !== 'undefined' ? t('departments.name') : 'Name' %></th>
                      <th><%= typeof t !== 'undefined' ? t('departments.code') : 'Code' %></th>
                      <% if(typeof locals.user != 'undefined') { %>
                      <th><%= typeof t !== 'undefined' ? t('common.action') : 'Action' %></th>
                      <% } %>
                    </tr>
                  </thead>
                  <tbody>
                    <% (departments || []).forEach((el, i)=> { %>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><%= el.name %></td>
                      <td><%= el.code %></td>
                      <% if(typeof locals.user != 'undefined') { %>
                      <td>
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit<%= el.id %>"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete<%= el.id %>"><i class="fas fa-trash-alt"></i></button>
                      </td>
                      <% } %>
                    </tr>
                    <div class="modal fade" id="edit<%= el.id %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title"><%= typeof t !== 'undefined' ? t('departments.edit') : 'Edit Department' %></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <form action="/departments?_method=put" method="post">
                            <div class="modal-body">
                              <input type="hidden" name="id" value="<%= el.id %>"/>
                              <div class="form-group">
                                <label><%= typeof t !== 'undefined' ? t('departments.name') : 'Name' %></label>
                                <input type="text" name="name" class="form-control" required value="<%= el.name %>" />
                              </div>
                              <div class="form-group">
                                <label><%= typeof t !== 'undefined' ? t('departments.code') : 'Code' %></label>
                                <input type="text" name="code" class="form-control" required value="<%= el.code %>" />
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"><%= typeof t !== 'undefined' ? t('common.save') : 'Save' %></button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= typeof t !== 'undefined' ? t('common.close') : 'Close' %></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="delete<%= el.id %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title"><%= typeof t !== 'undefined' ? t('departments.delete') : 'Delete Department' %></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <form action="/departments/delete/<%= el.id %>" method="post">
                            <div class="modal-body">
                              <%= typeof t !== 'undefined' ? t('departments.confirmDelete', { name: el.name }) : 'Are you sure you want to delete ' + el.name + '?' %>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"><%= typeof t !== 'undefined' ? t('common.yes') : 'Yes' %></button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= typeof t !== 'undefined' ? t('common.cancel') : 'Cancel' %></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% if(typeof locals.user != 'undefined') { %>
    <div class="modal fade" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= typeof t !== 'undefined' ? t('departments.add') : 'Add Department' %></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form action="/departments" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label><%= typeof t !== 'undefined' ? t('departments.name') : 'Name' %></label>
                <input type="text" name="name" class="form-control" required />
              </div>
              <div class="form-group">
                <label><%= typeof t !== 'undefined' ? t('departments.code') : 'Code' %></label>
                <input type="text" name="code" class="form-control" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary"><%= typeof t !== 'undefined' ? t('common.save') : 'Save' %></button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= typeof t !== 'undefined' ? t('common.close') : 'Close' %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>

<%- include('./partials/footer') %> 
